@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --length-screen-xxs: 360px;
  --length-screen-xs: calc(var(--length-screen-xxs) * 1.5);
  --length-screen-sm: calc(var(--length-screen-xxs) * 2.0);
  --length-screen-md: calc(var(--length-screen-xxs) * 2.5);
  --length-screen-lg: calc(var(--length-screen-xxs) * 3.0);
  --length-screen-xl: calc(var(--length-screen-xxs) * 4.0);
  --length-screen-xxl: calc(var(--length-screen-xxs) * 5.0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  @apply h-full;
}

body {
  @apply h-full;
  color: var(--foreground);
  background: var(--background);
}

h1 {
  @apply text-5xl;
  @apply font-light;
  @apply font-serif;
}

h2 {
  @apply text-3xl;
  @apply font-light;
  @apply font-serif;
}

#__next {
  @apply contents;
}